@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #181818;
  --background-hex: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #fff;
    --background-hex: #181818;
  }
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}
